@using DotNetNuke.Entities.Modules
@{
  // Update or create the "hideadminborder" setting with the value "True"
  var currentModule = ModuleController.Instance.GetModule(Dnn.Module.ModuleID, Dnn.Module.TabID, false);
  if (currentModule != null && currentModule.TabModuleID > 0)
  {
    // Check if the "hideadminborder" setting is not set or is not "True"
    var currentSetting = currentModule.TabModuleSettings.ContainsKey("hideadminborder")
    ? currentModule.TabModuleSettings["hideadminborder"]
    : null;

    if (currentSetting == null || !currentSetting.ToString().Equals("True", StringComparison.OrdinalIgnoreCase))
    {
      // Update or create the "hideadminborder" setting with the value "True"
      ModuleController.Instance.UpdateTabModuleSetting(currentModule.TabModuleID, "hideadminborder", "True");
    }
  }

  var countdownStyle = Model.Settings.CountdownsStyle;
  var dateTime = Model.DateTime;
  var parallaxImage = Model.ParallaxImage;
}

@if (!string.IsNullOrEmpty(Model.ModuleAnchor))
{
    <div id="@Model.ModuleAnchor"></div>
}

@if (countdownStyle == "parallax")
{
  <section class="parallax section section-text-light section-parallax section-center  @Model.Settings.MarginTop @Model.Settings.MarginBottom @Model.Settings.PaddingTop @Model.Settings.PaddingBottom"
    data-plugin-options="{'speed': 1.5}" data-plugin-parallax="parallax" data-image-src="@parallaxImage">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="countdown countdown-light" data-plugin-countdown
            data-plugin-options="{'date': '@dateTime', 'numberClass': 'font-weight-extra-bold'}"></div>
        </div>
      </div>
    </div>
  </section>
}
else
{
  <div class="container">
    <div class="row @Model.Settings.MarginTop @Model.Settings.MarginBottom @Model.Settings.PaddingTop @Model.Settings.PaddingBottom">
      <div class="col-sm-12">
        <div class="@countdownStyle" data-plugin-countdown
          data-plugin-options="{'date': '@dateTime', 'numberClass': 'font-weight-extra-bold'}"></div>
      </div>
    </div>
  </div>
}
