@using DotNetNuke.Entities.Modules
@{
  // Update or create the "hideadminborder" setting with the value "True"
  var currentModule = ModuleController.Instance.GetModule(Dnn.Module.ModuleID, Dnn.Module.TabID, false);
  if (currentModule != null && currentModule.TabModuleID > 0)
  {
    // Check if the "hideadminborder" setting is not set or is not "True"
    var currentSetting = currentModule.TabModuleSettings.ContainsKey("hideadminborder")
    ? currentModule.TabModuleSettings["hideadminborder"]
    : null;

    if (currentSetting == null || !currentSetting.ToString().Equals("True", StringComparison.OrdinalIgnoreCase))
    {
      // Update or create the "hideadminborder" setting with the value "True"
      ModuleController.Instance.UpdateTabModuleSetting(currentModule.TabModuleID, "hideadminborder", "True");
    }
  }
}

@if (!string.IsNullOrEmpty(Model.ModuleAnchor))
{
    <div id="@Model.ModuleAnchor"></div>
}
<p>@Model.FirstParagraph</p>
<div class="sticky-container">
  <div class="row">
    <div class="col-md-8">
      <p>@Model.Content</p>
    </div>
    <div class="col-md-4">
      <div
        class="center"
        data-plugin-options="{'minWidth': 991, 'containerSelector': '.sticky-container', 'padding': {'top': 110}}"
        data-plugin-sticky="sticky"
      >
        <img
          alt="device"
          class="pull-right img-fluid"
          height="140"
          src="@Model.Image"
          width="250"
        />
      </div>
    </div>
  </div>
</div>
<p>@Model.LastParagraph</p>