@using DotNetNuke.Entities.Modules
@{
    // Update or create the "hideadminborder" setting with the value "True"
    var currentModule = ModuleController.Instance.GetModule(Dnn.Module.ModuleID, Dnn.Module.TabID, false);
    if (currentModule != null && currentModule.TabModuleID > 0)
    {
        // Check if the "hideadminborder" setting is not set or is not "True"
        var currentSetting = currentModule.TabModuleSettings.ContainsKey("hideadminborder")
        ? currentModule.TabModuleSettings["hideadminborder"]
        : null;

        if (currentSetting == null || !currentSetting.ToString().Equals("True", StringComparison.OrdinalIgnoreCase))
        {
            // Update or create the "hideadminborder" setting with the value "True"
            ModuleController.Instance.UpdateTabModuleSetting(currentModule.TabModuleID, "hideadminborder", "True");
        }
    }

    var counter = 0;
}

@if (!string.IsNullOrEmpty(Model.ModuleAnchor))
{
    <div id="@Model.ModuleAnchor"></div>
}
<div class="container">
    <div class="row @Model.Settings.MarginTop @Model.Settings.MarginBottom @Model.Settings.PaddingTop @Model.Settings.PaddingBottom">
        @if (Model.Members != null)
        {
            counter++;
            <ul class="row team-list sort-destination" data-sort-id="team">
                @foreach(var member in Model.Members){
                <li class="col-md-3 col-sm-6 col-xs-12 isotope-item" data-appear-animation="fadeInUp" data-appear-animation-delay="@(counter * 200)">
                    <div class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
                        <span class="thumb-info-wrapper">
                            @if(!string.IsNullOrEmpty(member.Website)){
                            <a href="@member.Website?utm_source=scbng" target="_blank" rel="noopener noreferrer" class="track-referral">
                                <img alt="@member.MemberName" src="@member.Image" class="img-fluid" />
                                <span class="thumb-info-title"> 
                                    <span class="thumb-info-inner">@member.MemberName</span> 
                                    <span class="thumb-info-type">@member.MemberTitle</span> 
                                </span> 
                            </a> 
                            }
                            else{
                                <img alt="@member.MemberName" src="@member.Image" class="img-fluid" />
                                <span class="thumb-info-title"> 
                                    <span class="thumb-info-inner">@member.MemberName</span> 
                                    <span class="thumb-info-type">@member.MemberTitle</span> 
                                </span> 
                            }
                        </span> 
                        <span class="thumb-info-caption"> 
                            <span class="thumb-info-caption-text fw-bold fs-6 mb-0">
                                @member.CompanyName
                            </span> 
                            @if(!string.IsNullOrEmpty(member.Category))
                            {
                            <span class="thumb-info-caption-taxt mt-0 p-3">
                                <span class="badge badge-secondary">@member.Category</span>
                            </span>
                            }
                            <span class="thumb-info-caption-text mt-0">
                                @Html.Raw(member.MemberBio)
                            </span> 
                            <span class="thumb-info-social-icons"> 
                                @if(!string.IsNullOrEmpty(member.Website)){
                                    <a target="_blank" href="@member.Website?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fab fa-link"></em><span>Website</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.LinkedIn)){
                                    <a target="_blank" href="@member.LinkedIn?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on LinkedIn" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fa fa-linkedin"></em><span>LinkedIn</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.Instagram)){
                                    <a target="_blank" href="@member.Instagram?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on Instagram" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fa fa-instagram"></em><span>Instagram</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.Yelp)){
                                    <a target="_blank" href="@member.Yelp?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on Yelp" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fab fa-yelp"></em><span>Yelp</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.Facebook)){
                                    <a target="_blank" href="@member.Facebook?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on Facebook" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fa fa-facebook"></em><span>Facebook</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.YouTube)){
                                    <a target="_blank" href="@member.YouTube?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on YouTube" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fab fa-youtube"></em><span>YouTube</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.TikTok)){
                                    <a target="_blank" href="@member.TikTok?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on TikTok" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fab fa-tiktok"></em><span>TikTok</span></a> 
                                }
                                @if(!string.IsNullOrEmpty(member.Twitter)){
                                    <a target="_blank" href="@member.Twitter?utm_source=scbng" class="track-referral" rel="noopener noreferrer" title="Visit @member.CompanyName on Twitter (X)" data-plugin-tooltip="tooltip" data-toggle="tooltip" data-placement="top"><em class="fa fa-twitter"></em><span>Twitter (X)</span></a> 
                                }
                            </span> 
                        </span> 
                    </div> 
                </li> 
                }
            </ul>
        }
        else
        {
            <h2>No Team Found</h2>
            <p>No team details have been saved yet.</p>
        }
    </div>
</div>
@*
<div class="dnnClear">
    @ObjectInfo.Print(Model)
</div>
*@