@if (!string.IsNullOrEmpty(Model.ModuleAnchor))
{
    <div id="@Model.ModuleAnchor"></div>
}
<a 
    data-plugin-options="{'placement': 'right'}" 
    tabindex="0" 
    class="btn @Model.Settings.ButtonColor mb-lg" 
    role="button" 
    data-plugin-popover="popover" 
    data-toggle="popover" 
    data-trigger="focus" 
    title="@Model.PopoverTitle" 
    data-content="@Model.PopoverContent">
    @Model.Button
</a>