<div class="container">
    <div class="row @Model.Settings.MarginTop @Model.Settings.MarginBottom @Model.Settings.PaddingTop @Model.Settings.PaddingBottom">
        @if (Model.Paragraph != null)
        {
            @Html.Raw(Model.Paragraph)
        }
        else
        {
            <!-- No Paragraph Found -->
        }
    </div>
</div>