<div class="container">
    <div class="row @Model.MarginTop @Model.MarginBottom @Model.PaddingTop @Model.PaddingBottom">
        @if (Model.Paragraph != null)
        {
            @Html.Raw(Model.Paragraph)
        }
        else
        {
            <!-- No Paragraph Found -->
        }
    </div>
</div>